.post-new-review-button {
    background-color: #91B247;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: large;
    font-weight: 500;
}

.form-elements-form {
    display: flex;
    flex-direction: column;
}

.add-review-form-elements{
    width: 100%;
}

.post-new-review-button:hover {
    background-color: #80A142;
}

.entire-review-create-page {
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-form-input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgb(235, 234, 234);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 100%;
}

.review-form-description {
    height: 80px;
    resize: none;
}

.review-form-text {
    font-size: 14px;
    color: rgb(109, 109, 109);
    font-style: italic;
}

.new-review-submit-button {
    padding: 10px;
    border: none;
    background-color:rgb(109, 109, 109);
    color: white;
    font-weight: 600;
    border-radius: 7px;
    width: 112%;
    margin-top: 20px;
}

.new-review-submit-button:hover {
    cursor: pointer;
}
