.booking-calendar-modal {
    position: absolute;
    right: 10%;
    background-color: lightgray;
    padding: 10px;
}

.booking-entire-container {
    border: 1px red solid;
}

.reserve-booking-button {
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 5px;
    color: white;
    background-color: #95bb72;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;

}

.reserve-booking-button-disabled {
    width: 100%;
    border: none;
    cursor: not-allowed;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 5px;
    color: white;
    background-color: #95bb72;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.checkin-out-container {
    display: flex;
    justify-content: center;
}

.checkin-out-text {
    font-size: 10px;
    text-align: left;
    padding-left: 5px;
    font-weight: 500;
}

.checkin-out-input {
    border: none;
    padding: 10px 15px 15px 5px;
    font-weight: 500;
}

.checkin-out-inner-right-container {
    padding-left: 5px;
    border: 1px gray solid;

}

.checkin-out-inner-left-container {
    border-bottom: 1px gray solid;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
}

.price-calculation-row {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.price-calculation-total {
    font-weight: 700;
    margin-top: 30px;
}

.no-charge-text {
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}
