.all-images-container {
    border: 1px green solid;
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    width: 80vw;
    height: 500px;
}

.small-image-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 40vw;
    height: 500px;
}

.small-image {
    height: 244px;
    width: 98%;
    object-fit: cover;
}

.main-image-container {
    height: 500px;
    width: 39vw;
}

#main-image {
    height: 494px;
    width: 96%;
    object-fit: cover;
}
