* {
    letter-spacing: -1px;
}

.all-images-container {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    width: 80vw;
    height: 500px;
}

.small-image-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 40vw;
    height: 500px;
}

.pic-error-text {
    font-style: italic;
    font-size: small;
}

.small-image {
    height: 244px;
    width: 98%;
    object-fit: cover;

}

#small-image-2 {
    border-radius: 0 15px 0 0;
}

#small-image-4 {
    border-radius: 0 0 15px 0;
}

.main-image-container {
    height: 500px;
    width: 39vw;
}

#main-image {
    height: 494px;
    width: 96%;
    object-fit: cover;
    border-radius: 15px 0 0px 15px;
}

.entire-page {
    width: 80vw;
    margin: auto;
}

.title {
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-details {
    font-size: 15px;
    color: black;
    padding-bottom: 25px;
}

#home-hosted-by {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    letter-spacing: -1px;
}

.hosting-information {
    color: rgb(34, 34, 34);
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px black solid;
    letter-spacing: -1px;

    display: flex;

}

.features-with-icons-container {
    border-bottom: 1px black solid;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
}


.fa-id-badge {
    position: relative;
    font-size: 50px;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 20px;
}


.entire-container-below-images {
    display: flex;
    flex-direction: row;
    letter-spacing: -1px;
}

.left-description-container {
    flex-grow: 0.8;
    flex-wrap: wrap;
    width: 30vw;
}

.right-description-container {
    flex-grow: 1;
}

.superhost-feature-icon {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.feature-icon-img {
    margin-right: 20px;
}

.feature-icon-main-text {
    font-weight: 600;
    margin-bottom: 8px;
}

.feature-icon-second-text {
    color: gray;
    font-size: 14px;
}

.air-cover-img {
    height: 26px;
}

.air-cover-text {
    margin-top: 10px;
    color: gray;
}

.aircover-total-container {
    padding-bottom: 40px;
    border-bottom: black 1px solid;
}




/* .spot-not-found {
    text-align: center;
    font-weight: 600;
} */
