.all-images-container {
    border: 1px green solid;
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    width: 80vw;
    height: 500px;
}

.small-image-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 40vw;
    height: 500px;
}

.small-image {
    height: 244px;
    width: 98%;
    object-fit: cover;
}

#small-image-2 {
    border-radius: 0 15px 0 0;
}

#small-image-4 {
    border-radius: 0 0 15px 0;
}

.main-image-container {
    height: 500px;
    width: 39vw;
}

#main-image {
    height: 494px;
    width: 96%;
    object-fit: cover;
    border-radius: 15px 0 0px 15px;
}

.entire-page {
    width: 80vw;
    margin: auto;
}

.title {
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-details {
    font-size: 15px;
    color: black;
    padding-bottom: 25px;
}

#home-hosted-by {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

#contact-host {
    color: rgb(34, 34, 34);
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px rgb(49, 48, 48) solid;
    width: 60vw;
}
