.user-spot-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    /* flex-wrap: wrap; */

    width: 350px;
    height: 350px;

    border-bottom: 1px gray solid;
}

.user-spots-total-container {
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;

}

.user-spot-outer-container {
    border: 1px lightgray solid;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

.user-spot-image {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

#user-edit-button {
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: rgb(167, 167, 167);
    /* background-color: #91B247; */
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border: 0;
}


#user-edit-button:hover{
    cursor: pointer;
    background-color: lightgray;
}

#user-delete-button {
    margin-top: 20px;
    background-color: rgb(199, 70, 70);
    border: 0;
    border-radius: 10px;
    height: 25px;
    color: white;
    border-color: rgb(225, 88, 88);
    width: 50%;
    margin: auto;
}

#user-delete-button:hover {
    cursor: pointer;
    background-color: rgb(239, 56, 56);
}

#h1-header {
    display: flex;
    justify-content: center;
}

.spot-name-edit {
    padding: 15px 15px 0 15px;
    font-weight: 800;
}

.spot-price-edit {
    padding: 5px 0 15px 15px;
    font-size: 12px;
}
