.entire-create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 30vw;
}

.create-form-input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid lightgray;
}

.create-form-input:hover {
    background-color: beige;
}

.create-form-input-description {
    resize: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid lightgray;
    height: 100px;
}

.create-form-input-description:hover {
    background-color: beige;
}

#price-per-night {
    font-style: italic;
    font-size: 12px;
}

.create-submit-button {
    padding: 20px;
    background-color: #91B247;
    width: 100%;
    border: none;


    margin-top: 10px;
}

.create-submit-button:hover {
    cursor: pointer;
    background-color: #80A142;
    font-weight: bold;
}

.example-url-text {
    font-style: italic;
    font-size: 12px;
}
