.search-result-container {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px gray solid;
    width: 20%;
}

.search-entire-container {
    border-radius: 20px;
    border: 1px lightgray solid;
    padding: 10px 10px;
    width: 100%;
}

.search-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input-box {
    border: none;
}

.search-input-box:focus {
    outline: none;
}

.fa-xmark {
    cursor: pointer;
    padding: 7px;
}

.fa-magnifying-glass {
    color: white;
    background-color: #95bb72;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.navlink-container-search {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navlink-container-search:hover {
    background-color: lightgray;
}

.search-result-text-container {
    margin-left: 5px;
}

#search-result-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#search-result-spot-name {
    font-size: 16px;
}

#search-result-location {
    color: gray;
    font-size: 14px;
}
