/* .spot-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid pink;


}

.spot-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 1px red solid;
    width: 350px;
    height: 350px;
}

.all-spots-total-container {
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;

    border: 1px green solid;
}

.spot-image {
    height: 100%;
    width: auto;
    border-radius: 10px;
    border: 2px solid gray;
    object-fit: cover;
}

.spot-description-details {


} */

.all-spots-total-container{
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;
}

.spot-outer-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto
}

.spot-container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}


.spot-image{
    height: 300px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}

.spot-description-details {
    margin: 10px 5px;
}

.spot-description-first-row {
    display: flex;
    justify-content: space-between;


}

#city-and-state {
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 16px;
}

#rating-text {
    color: black;
    font-weight: 550;
    letter-spacing: -1px;
}

#spot-name-text {
    color: gray;
    font-size: 14px;
    letter-spacing: -1px;
}

#spot-price-text {
    color: black;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 10px;
}

#night-text {
    font-weight: 500;
}
