/* .spot-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid pink;


}

.spot-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 1px red solid;
    width: 350px;
    height: 350px;
}

.all-spots-total-container {
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;

    border: 1px green solid;
}

.spot-image {
    height: 100%;
    width: auto;
    border-radius: 10px;
    border: 2px solid gray;
    object-fit: cover;
}

.spot-description-details {


} */

.all-spots-total-container{
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap: 20px;
    border: 2px solid green
}

.spot-outer-container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto
}

.spot-container{
    border: 2px pink solid;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
}


.spot-image{
    height: 300px;
    width: auto;
    border-radius: 10px;
    border: 2px solid gray;
    object-fit: cover;
}

.spot-description-first-row {
    display: flex;
    justify-content: space-between;

}

#city-and-state {
    color: black;
}
