.entire-signup-page {
    margin: auto;
    display: flex;
    flex-direction: center;
    justify-content: center;
    width: fit-content;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-header {
    font-size: large;
    font-weight: bold;
    margin: 30px;
}

.signup-input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid lightgray;
}

.signup-input:hover {
    background-color: beige;
}

.signup-button {
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color: lightblue;
}

.signup-button:hover {
    cursor: pointer;
    background-color: #2C5F2DFF;
    font-weight: bold;
}
