.entire-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

.show-dropdown {
    visibility: visible;
}

.hide-dropdown {
    visibility: hidden;
}
