.nav-total-container {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    border-bottom: 1px solid gray;
    align-items: center;

    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


#host-spot-button{
    margin-right: 50px;
    padding: 15px;
    color: rgb(33, 32, 32);

    font-size: 16px;
    border-radius: 15px;
}

#host-spot-button:hover {
    background-color: lightgray;
}




.profile-dropdown {
    list-style: none;
    position: absolute;
    right: 5vw;
    z-index: 1;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-dropdown-li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px

}

.reviews-li {
    border-bottom: 1px solid gray;
    padding-top: 10px;
}

.dropdown-hover {
    padding: 0;
    text-align: center;
}

.dropdown-hover:hover {
    background-color: rgba(235, 235, 235, 0.976);
    cursor: pointer;
}

.profile-bold-text {
    font-weight: bold;
}

#logout-button {
    display: inline-block;
    padding: 1em;
    border: 1em solid #FFFFFF;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

#logout-button:hover {
    color: #000000;
    background-color: #da1b1b86;
    cursor: pointer
}

.nav-bar-all-links:link {
    text-decoration: none;
    color: red;
}

#menu-nav-button {
    padding: 12px;
    background-color: white;

    font-size: large;
    border: 0.5px lightgray solid;
    border-radius: 15px;
}

#menu-nav-button:hover {
    cursor: pointer;
}

.fa-bars{
    padding-right: 10px;
}

.login-signup-buttons {
    font-size: 14px;
    color: black;
    background-color: white;

    border: 0;
    padding: 10px 15px;
    margin: 10px 15px;
}

.login-signup-buttons:hover {
    font-weight: bold;
    background-color: lightgray;
    cursor: pointer;
}

/* .manage-spots-reviews-button {
    border: none;
    background-color: white;
    font-size: 16px;
    text-align: left;
    height: 100%;
    width: 100%;
} */

/* .manage-spots-reviews-button:hover {
    cursor: pointer;
    background-color: lightblue;
} */

.profile-dropdown-li a {
    display: block;
    padding: 10px 0;
    color: black;
    font-size: 14px;

}

.profile-dropdown-li a:hover {
    background-color: lightgray;
}
